<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=4.0.1.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
      <section name="ConfigurationReader.Data.appSettings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=4.0.1.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ApplicationNameColumnName" value="ApplicationName" />
    <add key="IsActiveColumnName" value="IsActive" />
    <add key="CollectionName" value="Configurations"/>
  
  </appSettings>
  <userSettings>
    <ConfigurationReader.Data.appSettings>
      <setting name="ApplicationNameColumnName" serializeAs="String">
        <value>A</value>
      </setting>
    </ConfigurationReader.Data.appSettings>
  </userSettings>
</configuration>